{% extends 'communityHomeB.html' %}
{% block title %}DetourMaps - Privacy Policy{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Arvo:400,700|Istok+Web:400,700|Metrophobic!Open+Sans|Open+Sans+Condensed:300">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}community/css/dtmfront.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}community/css/style_home.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}web/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}community/js/richmarker.js"></script>
    <script defer type="text/javascript" src="{{ STATIC_URL }}community/js/utils.js"></script>
    <script defer type="text/javascript" src="/user/js/utils_sys"></script>
    <script src="{{ STATIC_URL }}community/js/layout.js"></script>
    <style type="text/css">
        body {
            background: #ffffff !important;
        }

        footer {
            position: relative !important;
            top: 0 !important;
            margin-top: 180px;
        }

        input:focus {
            background-color: #ffffff;
        }

        .overmenu {
            z-index: 10000;
        }

        .menuJoin li {
            width: 100%;
        }

        .menuJoin li a {
            text-align: left !important;
        }
    </style>
{% endblock %}
{% block bodyname %}privacy-policy-page{% endblock %}
{% block bar-container %}{% endblock %}
{% block content %}
    <div class="container">
    <div class="row">
    <div class="twelvecol last policy">
    <h1><img src="{{ STATIC_URL }}community/elementos/privacy.png"/> Privacy Policy</h1>

    <p>
        Last modified: June 27, 2013
    </p>

    <p>
        There are many diferent ways you can use our services – to search for and share information, about businesses in
        your community. As you use our services, we want you to be clear of how we
        use your information and the ways in which you can protect your privacy.
    </p>

    <p>
        Our Privacy Policy explains:
    <ul>
        <li>
            What information we will be collecting from you and why we are collecting it
        </li>
        <li>
            How we will use that information
        </li>
    </ul>
    Your privacy matters to us, whether you are a new or a long-time user of our Detour Community Maps and other
    Services (Entire Marketing Group LLC, QMOQUI, and Detour Maps Mobile). If you
    have any questions contact us.
    </p>
    <article>
        <h2>Information we collect</h2>
        We collect information to provide better services to all of our users. We collect information in two ways:
        <ul>
            <li>
                <b>Information you give us.</b> Our services (Detour Maps, Detour Maps mobile and QMOQUI) require you to
                sign up by creating an account or using your personal Facebook, Google, or Twitter
                account. When you sign up, we’ll ask for your name, email address, telephone number, or credit card for
                Pay Pal (only for QMOQUI).
            </li>
            <li>
                <b>Information we get from your use of our services.</b> We may collect information about the services
                or businesses you search for when you visit a website that uses our advertising services, or
                when you view and interact with our ads and content. This information includes:
                <ul>
                    <li>
                        <b>Device information</b>

                        <p>
                            We may collect device-specifc information (such as your hardware model, operating system
                            version, unique device identifers, and mobile network information including
                            phone number).
                        </p>
                    </li>
                    <li>
                        <b>Log information</b>

                        <p>
                            When you use our services or view content provided by our services, we may automatically
                            collect and store certain information. This may include:
                        </p>
                        <ul>
                            <li>
                                Details of how you used our services, such as your search queries.
                            </li>
                            <li>
                                Telephone log information such as phone number, calling-party number, forwarding
                                numbers, time and date of calls, duration of calls, and SMS routing information.
                            </li>
                            <li>
                                Internet protocol address (IP address).
                            </li>
                            <li>
                                Device event information such as crashes, system activity, hardware settings, browser
                                type, browser language, the date and time of your request and referral URL.
                            </li>
                            <li>
                                Cookies that may uniquely identify your browser.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <b>Location information</b>

                        <p>
                            When you use a location-enabled service like Detour Maps, we may collect and process
                            information about your actual location, like GPS signals sent by a mobile device. We may
                            also use various technologies to determine location, such as sensor data from your device
                            that may, for example, provide information on nearby Wi-Fi access points and cell towers.
                        </p>
                    </li>
                    <li>
                        <b>Local storage</b>

                        <p>
                            We may collect and store information (including personal information) locally on your device
                            using mechanisms such as browser web storage (including HTML 5) and application data caches.
                        </p>
                    </li>
                    <li>
                        <b>Cookies and anonymous identifiers</b>

                        <p>
                            We use various technologies to collect and store information when you visit any of Entire
                            Marketing Group LLC’s service sites, and this may include sending one or
                            more cookies or anonymous identifiers to your device. We also use cookies and anonymous
                            identifiers when you interact with services we offer to our partners, such as advertising
                            services.
                        </p>
                    </li>
                </ul>
            </li>
        </ul>
        <h2>How we use information we collect</h2>

        <p>
            We use the information we collect to provide, maintain, protect, improve, and develop new services. We also
            use this information to protect Entire Marketing Group LLC along with all of its service divisions and our
            users. This information allows us to offer you customized content.
        </p>

        <p>
            We may use the name you provide for your account across all of our services we offer. In addition, we may
            replace past names associated with your account so that you are represented consistently across all our
            services.
        </p>

        <p>
            When you contact Entire Marketing Group LLC or any of its services, we may keep a record of your
            communication to help solve any issues you might be facing. We may use your email address to inform you
            about our services, such as letting you know about upcoming changes or improvements.
        </p>

        <p>
            We use information collected from cookies and other technologies, to improve your user experience and the
            overall quality of our services.
        </p>

        <p>
            We may combine your personal information used in all of our services, for example, name and email address,
            to make it easier for you to share things with people you know.
        </p>

        <p>
            We will ask for your consent before using information for a purpose other than those that are set out in
            this Privacy Policy.
        </p>

        <h2>Information you share</h2>

        <p>
            Many of our services let you share information with others. Remember that when you share information
            publicly, it may be index able by search engines.
        </p>

        <h2>Information we share</h2>

        <p>
            We do not share personal information with companies, organizations and individuals outside of Entire
            Marketing Group LLC divisions such as Detour Maps, Detour Maps Mobile, and QMOQUI unless one of the
            following circumstances apply:
        </p>
        <ul>
            <li>
                <b>With your consent</b>

                <p>
                    We will share personal information with companies, organizations or individuals outside of Entire
                    Marketing Group LLC and divisions listed above when we have your consent to do so.
                </p>
            </li>
            <li>
                <b>
                    With domain administrators
                </b>

                <p>
                    If your account is managed for you by a domain administrator (third party that has your information)
                    then your domain administrator and resellers who provide user support to your organization will have
                    access to your account information (including your email and other data). Your domain administrator
                    may be able to:
                </p>
                <ul>
                    <li>View statistics regarding your account, like statistics regarding applications you install.</li>
                    <li>Change your account password.</li>
                    <li>Suspend or terminate your account access.</li>
                    <li>Access or retain information stored as part of your account.</li>
                    <li>Receive your account information in order to satisfy applicable law, regulation, legal process
                        or enforceable governmental request.
                    </li>
                    <li>Restrict your ability to delete or edit information or privacy settings.</li>
                </ul>
                <p>
                    Please refer to your personal domain administrator’s privacy policy for more information if applies.
                </p>
            </li>
            <li>
                <b>For external processing</b>

                <p>
                    We provide personal information to our affiliates or other trusted businesses or persons to process
                    it for us, based on our instructions and in compliance with our Privacy Policy and any other
                    appropriate confidentiality and security measures.
                </p>
            </li>
            <li>
                <b>For legal reasons</b>

                <p>
                    We will share personal information with companies, organizations or individuals outside of Entire
                    Marketing Group LLC and divisions if we have a good-faith belief that access, use, preservation or
                    disclosure of the information is reasonably necessary to:
                </p>
                <ul>
                    <li>Meet any applicable law, regulation, legal process or enforceable governmental request.</li>
                    <li>Enforce applicable Terms of Service, including investigation of potential violations.</li>
                    <li>Detect, prevent, or otherwise address fraud, security or technical issues.</li>
                    <li>Protect against harm to the rights, property or safety of Entire Marketing Group LLC, our users
                        or the public as required or permitted by law.
                    </li>
                </ul>
            </li>
            <li>
                <b>Testimonials / Reviews</b>

                <p>
                    With your consent we may post your testimonial along with your email and or name. If you wish to
                    update or delete your testimonial, you can contact us at <a href="mailto:info@detourmaps.com">info@detourmaps.com</a>.
                </p>
            </li>
            <li>
                <b>
                    Social Media (Features) and Widgets
                </b>

                <p>
                    Our Web site includes social media features, such as the Facebook Like button, and Widgets, such as
                    the Share button, or interactive mini-programs that run on our site. These features may collect your
                    IP address, which page you are visiting on our site, and may set a cookie to enable the feature to
                    function properly. Social media features and widgets are either hosted by a third party or hosted
                    directly on our site. Your interactions with these features are governed by the privacy policy of
                    the company providing it.
                </p>
            </li>
        </ul>
        <p>
            We may share combined, non-personally identifiable information publicly and with our partners and divisions,
            such as publishers, advertisers or connected sites. For example, we may share information publicly to show
            trends about the general use of our services.
        </p>

        <p>
            If Entire Marketing Group LLC and its divisions are involved in a merger, acquisition or asset sale, we will
            continue to ensure the confidentiality of any personal information, and give affected users notice before
            personal information is transferred or becomes subject to a different privacy policy.
        </p>

        <h2>Information security</h2>

        <p>
            We work hard to protect Entire Marketing Group LLC and its divisions along with our users from unauthorized
            access to or unauthorized alteration, disclosure or destruction of information we hold. In particular:
        </p>
        <ul>
            <li>
                We encrypt many of our services using SSL (Secure Sockets Layer is a protocol that helps provide secure
                Internet communications for services like web browsing, e-mail, instant messaging, and other data
                transfers).
            </li>
            <li>
                We offer you verification when you wish to change your Detour Maps account password.
            </li>
            <li>
                We review our information collection, storage and processing practices, including physical security
                measures, to guard against unauthorized access to systems.
            </li>
            <li>
                We restrict access to personal information to Entire Marketing Group LLC employees, contractors and
                agents who need to know that information in order to process it for us, and who are subject to strict
                contractual confidentiality obligations and may be disciplined or terminated if they fail to meet these
                obligations.
            </li>
        </ul>
        <h2>Application</h2>

        <p>
            Our Privacy Policy applies to all of the services offered by Entire Marketing Group LLC (Detour Maps, Detour
            Maps Mobile, and QMOQUI) and its affiliates, including services offered on other sites, but exclude services
            that have separate privacy policies that do not incorporate this Privacy Policy.
        </p>

        <p>
            Our Privacy Policy does not apply to services offered by other companies or individuals, including products
            or sites that may be displayed to you in search results. Our Privacy Policy does not cover the information
            practices of other companies and organizations who advertise our services, and who may use cookies, pixel
            tags and other technologies to serve and offer relevant ads.
        </p>

        <h2>Enforcement</h2>

        <p>
            We regularly review our compliance with our Privacy Policy. When we receive formal written complaints, we
            will contact the person who made the complaint to follow up.
        </p>

        <h2>Changes</h2>

        <p>
            Our Privacy Policy may change from time to time. We will not reduce your rights under this Privacy Policy
            without your explicit consent. We will post any privacy policy changes on this page and, if the changes are
            significant, we will provide a more prominent notice, including email notification of privacy policy
            changes. We will also keep prior versions of this Privacy Policy in an archive for your review.
        </p>
    </article>
    </div>
    </div>
    </div>
{% endblock %}